@import url(columns.css);
@import url(fonts.css);
@import url(corporative.css);

.saldu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.portada{
    width: 90%;
    max-width: 500px;
}


.akordeoi {
     margin-bottom: 100px;
    /* border: solid white;*/
 }

.akordeoi-botoia {
    background-color: var(--lehen-maila-kolorea);
    color: var(--bigarren-maila-kolorea);
    cursor: pointer;
    width: 100%;
    height: 26px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: vasca;
    font-size: 22px;
}

.akordeoi-botoia:hover {
    background-color: var(--hirugarren-maila-kolorea);
}

.akordeoi-edukia {
    padding: 0 18px;
    background-color: var(--bigarren-maila-kolorea);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.akordeoi-edukia.active {
    max-height: 3000px; 
    padding: 18px;
    overflow: scroll;
}


.akordeoi-edukia::-webkit-scrollbar{
    background: transparent;
    border-radius: 8px;
}
.akordeoi-edukia::-webkit-scrollbar-thumb{
    background: var(--lehen-maila-kolorea);
    border-radius: 8px;
}
.akordeoi-edukia::-webkit-scrollbar-thumb:hover{
    background-color: var(--hirugarren-maila-kolorea);
}


.atala{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
}
.bideoa{
    background-color: var(--bigarren-maila-kolorea);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    position: relative;
}
.letra{
    background-color: var(--bigarren-maila-kolorea);
    padding-left: 40px;
    position: relative;

    display: block;
}
.kredituak{
    background-color: var(--bigarren-maila-kolorea);
    padding-left: 40px;
}


.kredituak img{
    max-width: 60px;
}
iframe{
    width: 90%;
    margin-bottom: 20px;
    max-height: 80px;
    position: sticky;
    top: 0px;
    display: block;
    z-index: 1;
    box-shadow: 0px 0px 80px var(--lehen-maila-kolorea);
}



@media (min-width:620px){
    .saldu{
    margin: 60px 0px 20px;
    flex-wrap:wrap-reverse;

}
.portada{
    width: 50%;
}
.saldu a{
    width: 40%;
    margin: 0px 10px 0px 0px;
    order: -1;
}

.akordeoi-botoia {
    height: 30px;
    font-size: 30px;
}



    .bideoa{
    background-color: var(--bigarren-maila-kolorea);
    float: left;
    flex-wrap: nowrap;
    max-width: 70%;
}
    iframe{
    max-width: 70%;
    max-height: 352px;
    box-shadow: none;
}
    .kredituak{
        background-color: var(--bigarren-maila-kolorea);
        float: left;
        width: 30%;
        position: sticky;
        top: 0px;
    }
    .letra{
        padding-left: 10%;
    }
}